@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Press+Start+2P&family=Rock+Salt&family=Ruge+Boogie&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter, .frontendRLetter, .takeTLetter, .theyTLetter, .improveELetter, .rootRLetter  {
  background-color: red;
  font-size: 72px;
  font-weight: 400;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter, .frontendTLetter, .takeALetter, .theyHLetter, .improveVLetter, .rootOLetter   {
  background-color: yellow;
  font-size: 63px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter, .frontendELetter, .takeKLetter, .becauseETwoLetter, .theyELetter, .rootOTwoLetter  {
  background-color: #949541;
  font-size: 60px;
  font-weight: 700;
  color: rgb(212, 229, 231);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */
.didDLetter, .frontendFLetter, .takeELetter, .becauseSLetter, .theyYLetter, .rootTLetter  {
  background-color: whitesmoke;
  font-size: 63px;
  font-weight: lighter;
  color: black;
  text-decoration: underline dotted;
  text-transform: lowercase;
  font-family: "Ruge Boogie", sans-serif;
}

.didILetter, .frontendNLetter, .becauseULetter, .improveILetter{
  background-color: rgb(54, 3, 3);
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: orangered;
  text-decoration: line-through;
  text-transform: none;
  font-family: "Amatic SC", serif;
}

.didDTwoLetter,.frontendDLetter, .becauseALetter, .improveMLetter {
  background-color: rgb(3, 54, 12);
  font-size: 67px;
  font-weight: 700;
  color: greenyellow;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Press Start 2P", serif;
}

/* THE word */

.theTLetter, .frontendNTwoLetter, .becauseCLetter,.improvePLetter {
  background-color: rgb(240, 231, 128);
  font-size: 23px;
  font-weight: 700;
  color: brown;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Press Start 2P", serif;
}

.theHLetter,.frontendOLetter, .becauseELetter, .improveRLetter{
  background-color: orange;
  font-size: 23px;
  font-weight: normal;
  color: antiquewhite;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Rock Salt", serif;
}

.theELetter, .frontendFLetter, .becauseBLetter, .improveOLetter {
  font-size: 44px;
  font-weight: normal;
  color: purple;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-family: "Dancing Script", serif;
}


.developerDLetter, .upULetter, .gardeningGTwoLetter  {
  background-color: rgb(54, 3, 3);
  font-size: 23px;
  font-weight: bold;
  color: hotpink;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Dancing Script", serif;
}
.developerELetter, .upPLetter, .gardeningNTwoLetter, .toOLetter  {
  background-color: rgb(7, 54, 3);
  font-size: 23px;
  font-weight: bold;
  color: orange;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Press Start 2P", serif;
}
.developerVLetter, .gardeningILetter , .toTLetter , .skillsSLetter {
  font-size: 53px;
  font-weight: bold;
  color: palegreen;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Rock Salt", serif;
}
.developerETwoLetter, .gardeningNLetter, .wantedDLetter , .skillsKLetter  {
  background-color: yellow;
  font-size: 66px;
  font-weight: bold;
  color: #ab3e10;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
}
.developerLLetter, .gardeningELetter , .wantedELetter, .theirRLetter, .skillsILetter  {
  background-color: pink;
  font-size: 66px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;

}
.developerOLetter, .gardeningDLetter, .wantedTLetter, .theirILetter, .skillsLLetter     {
  background-color: rgb(221, 192, 8);
  font-size: 45px;
  font-weight: bolder;
  color: #949541;
  text-decoration: overline underline;
  text-transform: uppercase;
  font-family: "Press Start 2P", serif;
}
.developerPLetter, .gardeningRLetter, .wantedNLetter, .theirELetter, .skillsLTwoLetter    {
  background-color: rgb(14, 29, 139);
  font-size: 55px;
  font-weight: bolder;
  color: rgba(249, 0, 0, 0.996);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Ruge Boogie", serif;
}
.developerEThreeLetter, .gardeningALetter, .wantedALetter, .theirHLetter, .skillsSTwoLetter    {
  background-color: whitesmoke;
  font-size: 55px;
  font-weight: bold;
  color: rgb(4, 0, 9);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Press Start 2P", serif;
}

.developerRLetter, .gardeningGLetter, .wantedWLetter, .theirTLetter    {
  font-size: 85px;
  font-weight: bolder;
  color: rgba(249, 0, 0, 0.996);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Dancing Script", serif;
}

.hyphen {
  background-color: black;
  font-size: 85px;
  font-weight: bolder;
  color: blueviolet;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Ruge Boogie", sans-serif;
}
.exclamation-mark {
  font-size: 35px;
  font-weight: bolder;
  color: greenyellow;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Rock Salt", serif;
  
}
.question-mark {
  font-size: 85px;
  font-weight: bolder;
  color: rgba(249, 0, 0, 0.996);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Dancing Script", serif;
  
}
