@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Press+Start+2P&family=Rock+Salt&family=Ruge+Boogie&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter, .frontendRLetter, .takeTLetter {
  font-size: 72px;
  font-weight: 400;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter, .frontendTLetter, .takeALetter {
  font-size: 63px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter, .frontendELetter, .takeKLetter{
  font-size: 60px;
  font-weight: 700;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter, .frontendFLetter, .takeELetter{
  font-size: 43px;
  font-weight: lighter;
  color: aqua;
  text-decoration: underline dotted;
  text-transform: lowercase;
  font-family: "Ruge Boogie", sans-serif;
}

.didILetter, .frontendNLetter{
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: orangered;
  text-decoration: line-through;
  text-transform: none;
  font-family: "Amatic SC", serif;
}

.didDTwoLetter,.frontendDLetter {
  font-size: 67px;
  font-weight: 700;
  color: greenyellow;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Press Start 2P", serif;
}

/* THE word */

.theTLetter, .frontendNTwoLetter{
  font-size: 23px;
  font-weight: 700;
  color: brown;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Press Start 2P", serif;
}

.theHLetter,.frontendOLetter{
  font-size: 23px;
  font-weight: normal;
  color: antiquewhite;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Rock Salt", serif;
}

.theELetter, .frontendFLetter {
  font-size: 44px;
  font-weight: normal;
  color: purple;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-family: "Dancing Script", serif;
}

/* FRONT-END word */

.frontendFLetter {

}

.frontendRLetter {
  
}

.frontendOLetter {
  
}

.frontendNLetter {
  
}

.frontendTLetter {
  
}

.frontendELetter {

}

.frontendNTwoLetter {
  
}

.frontendDLetter {
  
}

/* DEVELOPER word */

.developerDLetter, .upULetter, .gardeningGTwoLetter  {
  font-size: 23px;
  font-weight: bold;
  color: hotpink;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Dancing Script", serif;
}
.developerELetter, .upPLetter, .gardeningNTwoLetter  {
  font-size: 23px;
  font-weight: bold;
  color: orange;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Press Start 2P", serif;
}
.developerVLetter, .gardeningILetter  {
  font-size: 23px;
  font-weight: bold;
  color: palegreen;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Ruge Boogie", sans-serif;
}
.developerETwoLetter, .gardeningNLetter  {
  font-size: 66px;
  font-weight: bold;
  color: #ab3e10;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
}
.developerLLetter, .gardeningELetter {
  font-size: 66px;
  font-weight: bolder;
  color: rgba(14, 154, 185, 0.2);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;

}
.developerOLetter, .gardeningDLetter  {
  font-size: 45px;
  font-weight: bolder;
  color: #949541;
  text-decoration: overline underline;
  text-transform: uppercase;
  font-family: "Press Start 2P", serif;
}
.developerPLetter, .gardeningRLetter  {
  font-size: 55px;
  font-weight: bolder;
  color: rgba(249, 0, 0, 0.996);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Ruge Boogie", serif;
}
.developerEThreeLetter, .gardeningALetter  {
  font-size: 55px;
  font-weight: bold;
  color: rgb(229, 224, 237);
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Press Start 2P", serif;
}

.developerRLetter, .gardeningGLetter  {
  font-size: 85px;
  font-weight: bolder;
  color: rgba(249, 0, 0, 0.996);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Dancing Script", serif;
}

/* TAKE word */

.takeTLetter {
  
}
.takeALetter {
 
}
.takeKLetter {
  
}
.takeELetter {
 
}

/* UP word */

.upULetter {
  
}
.upPLetter {
  
}

/* GARDENING word */

.gardeningGLetter {
  
}
.gardeningALetter, {
  
}
.gardeningRLetter {
  
}
.gardeningDLetter {
  
}
.gardeningELetter {
  
}
.gardeningNLetter {
  
}
.gardeningILetter {
  
}
.gardeningNTwoLetter {
  
}
.gardeningGTwoLetter {
  
}

/* BECAUSE word */

.becauseBLetter {
}
.becauseELetter {
}
.becauseCLetter {
}
.becauseALetter {

}
.becauseULetter {
  
}
.becauseSLetter {
  
}
.becauseETwoLetter {
  
}

/* THEY word */

.theyTLetter {
  
}
.theyHLetter {
  
}
.theyELetter {
 
}
.theyYLetter {
  
}

/* WANTED word */

.wantedWLetter {
 
}
.wantedALetter {
  
}
.wantedNLetter {
  
}
.wantedTLetter {
  
}
.wantedELetter {
  
}
.wantedDLetter {
  
}

/* TO word */

.toTLetter {
  
}
.toOLetter {
 
}

/* IMPROVE word */

.improveILetter {
  
}
.improveMLetter {
  
}
.improvePLetter {
  
}
.improveRLetter {
  
}
.improveOLetter {
  
}
.improveVLetter {
  
}
.improveELetter {
  
}

/* THEIR word */

.theirTLetter {
  
}
.theirHLetter {
  
}
.theirELetter {
  
}
.theirILetter {
  
}
.theirRLetter {
  
}

/* ROOT word */

.rootRLetter {
  
}
.rootOLetter {
  
}
.rootOTwoLetter {
  
}
.rootTLetter {
  
}

/* SKILLS word */

.skillsSLetter {
  
}
.skillsKLetter {
  
}
.skillsILetter {
  
}
.skillsLLetter {
 
}
.skillsLTwoLetter {
  
}
.skillsSTwoLetter {
 
}

/* SYMBOLS */

.hyphen {
  
}
.exclamation-mark {
  
}
.question-mark {
  
}
